[Util]
#MemoryBreakpoint=8479
#MemMgrMaxAllocWarning=0

[S3E]  
SplashscreenBkR=0
SplashscreenBkG=0
SplashscreenBkB=0

MemSize=10000000
MemSizeDebug=10000000

SysAppNeverSleep=0

DisableAccelerometer=1
DisableContacts=1
DisableVibra=1
DisableVideo=1
#DisableGL=1

#TraceToFile=1

DispFixRot=FixedPortrait
IOSDispScaleFactor=200

SysGlesVersion=2

[GX]
NumTPages=400
DataCacheSize=1000000
VertCacheSize=200000
